@media screen and (min-width:800px) {
  body {
  	box-shadow: 5px 4px 25px 7px rgba(128,128,133,1);
  	margin: 0 auto;
    width: 85%;
  }

  nav {
  	align-items: flex-start;
  	text-align: left;
  }
  nav h1 {
  	font-size: 1.95em;
  	margin-left: 1.5em;
  }

  #map-container{
  	border: 0 solid #808085 ;
  	border-width: 0 1.5px;
  }

  #restaurants-list li a {
  	display: inline-block;
  	font-size: .9em;
  	padding: 8px 30px 10px;
  	margin: 15px 0 25px;
  }

.filter-options .select-container {
  	display: block;
  }

}

